.containerCenter{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-900);
}

.login{
  margin-top: -9rem;
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:2rem 1.5rem;
  z-index: 1;
  

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

}

.text{
  margin-top: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 620px){
  .login{
    width: 90%;
  }
}